main {
  grid-row: 2/3;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}

main section {
  grid-column: 2/3;
}

small {
  color: black;
  font-size: .5rem;
  margin-left: 10px;
}

a {
  color: #C261CC;
  text-decoration: none;
}

#application-preview {
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid darkgrey;
  min-height: 100px;
  margin-top: 20px;
  padding: 10px;
}

.hidden {
  display: none;
}